body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;

    margin: 0;
    background-color: #333b43;
}

#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

#central {
    max-width: 320px;
    width: 100%;
}

.titulo {
    font-weight: bold;
    font-size: 100%;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

.auth {
    font-weight: bold;
    font-size: 100%;
    color: #ff6a00;
    text-align: center;
    margin-bottom: 10px;
}

#login {
    width: 100%;
    padding: 50px 30px;
    background-color: white;

    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    box-sizing: border-box;
}

#login .img {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: -120px;


}

#login input {
    font-weight: bold;
    font-family: 'Overpass', sans-serif;
    font-size: 75%;
    color: #5a636c;
    box-shadow: 0 0 5px #383c44;
    display: block;
    width: 100%;
    height: 30px;

    margin-bottom: 20px;
    padding: 5px 5px 5px 10px;
    border: 1px solid;
    box-sizing: border-box;

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 90%;
    color: white;
    width: 100%;
    height: 40px;
    border: none;

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;

    background-color: #ff6a00;

    margin-top: 10px;
}


.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #3282b8;
}