<head>
  <!-- Link hacia el archivo de estilos css -->
  <link rel="stylesheet" href="app.component.scss">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
  <div id="contenedor">
    <div id="central">
      <div id="login">
        <div class="img">
          <img src="assets/gamb.png" alt="">
        </div>


        <div class="titulo">
          <p>Sistema de Compras Giros y Remesas</p>
        </div>
        <form id="loginform">

          <input type="text" name="usuario" placeholder="Usuario" required>

          <input type="password" placeholder="Contraseña" name="password" required>


          <div class="auth">
            Autenticacion Facial
          </div>
          <div>
            <div class="g-recaptcha" data-sitekey="6LfmdkspAAAAAPylflTyR9c7ZlYqia4WVGl_H2Xc"></div>
          </div>


          <button type="submit" title="Ingresar" name="Ingresar">Ingresar</button>


        </form>

      </div>

    </div>
  </div>

</body>
<router-outlet></router-outlet>